

.nav{
    display: flex;
    justify-content:right;
    align-items: center;
    text-align: center;
    background-color: black;
    color:white;
    gap:30px;
    font-size: 1em;
   
    padding: 5px;   
    margin-bottom: 10px;        
}

.headertext{
    color:rgb(212, 175, 55); 
    text-align: left;
    align-items: left;    
    font-weight: bold;
    margin: 0; 
    font-size: 24px; 
    flex: 1;
}
.cartcountbadge{
    position: absolute;
    top: -2px;
    right: 110px;
    background-color: rgb(212, 175, 55); 
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 30px;
}


.img-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:flex-start;
    flex-direction: row;
    padding: 20px;
    margin:10px;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    align-items: center;
}

.hover-image {
    transition: transform 0.5s ease; /* Smooth transition for the transform property */
  }
  
.hover-image:hover {
    transform: scale(1.1) !important; /* Slightly scale up the image on hover */
  }

  .full-width-image img {
    width: 100%;       /* Ensures the image spans the full width */
    height: 50px;      /* Fixed height of the image */
    object-fit:contain; /* Ensures the image fills the space without distorting */
    border-radius: 50%; 
}